<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Disease Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Diabetes Disease Detection</h1>
    <form id="predictionForm">
        <label for="pregnancies">Pregnancies:</label>
        <input type="number" id="pregnancies" name="pregnancies" required><br>

        <label for="glucose">Glucose:</label>
        <input type="number" id="glucose" name="glucose" required><br>

        <label for="bloodPressure">Blood Pressure:</label>
        <input type="number" id="bloodPressure" name="bloodPressure" required><br>

        <label for="skinThickness">Skin Thickness:</label>
        <input type="number" id="skinThickness" name="skinThickness" required><br>

        <label for="insulin">Insulin:</label>
        <input type="number" id="insulin" name="insulin" required><br>

        <label for="bmi">BMI:</label>
        <input type="number" id="bmi" name="bmi" required><br>

        <label for="diabetesPedigreeFunction">Diabetes Pedigree Function:</label>
        <input type="number" id="diabetesPedigreeFunction" name="diabetesPedigreeFunction" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <button type="submit">Predict</button>
    </form>

    <p id="predictionResult"></p>

    <script>
        const form = document.getElementById('predictionForm');
        const predictionResult = document.getElementById('predictionResult');

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            data['Glucose_BMI_interaction'] = data['glucose'] * data['bmi'];

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                predictionResult.textContent = `Predicted Outcome (XGBoost): ${result.xgb_prediction}, Predicted Outcome (Neural Network): ${result.nn_prediction}`;
            })
            .catch(error => {
                console.error('Error:', error);
                predictionResult.textContent = 'Error occurred during prediction.';
            });
        });
    </script>
</body>
</html>
